@model EasyHRM.Core.ViewModel.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePass";
}

@if (TempData["Msg"] != null)
{
    <div class="alert alert-success">
        <i class="ti-user"></i>  @TempData["Msg"].ToString()
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
    </div>
}
@if (TempData["FMsg"] != null)
{
    <div class="alert alert-danger">
        <i class="ti-user"></i>  @TempData["FMsg"].ToString()
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
    </div>
}


@using (Html.BeginForm("ChangePassword", "Employee", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <br />
    @Html.Partial("_ChangePassword", Model);
}