@model EasyHRM.Core.DataModel.PaySlipModel
@{
    ViewData["Title"] = "Create Pay Slip";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="basic-elements">
                    <form action="CreatePaySlip"  method="post" >

                        <div class="row">
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <label asp-for="Title"></label>
                                    <input type="text" asp-for="Title" class="form-control" placeholder="Enter Title">
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="DepartmentId"></label>
                                    <select class="form-control" asp-for="DepartmentId" asp-items="@(ViewBag.Departments)">
                                        <option value="0">All Employee</option>
                                    </select>
                                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Month"></label>
                                    @Html.DropDownListFor(x => x.Month, new List<SelectListItem>
                                        {
                                            new SelectListItem() {Text = "January", Value="1"},
                                            new SelectListItem() {Text = "February", Value="2"},
                                            new SelectListItem() {Text = "March", Value="3"},
                                            new SelectListItem() {Text = "April", Value="4"},
                                            new SelectListItem() {Text = "May", Value="5"},
                                            new SelectListItem() {Text = "June", Value="6"},
                                            new SelectListItem() {Text = "July", Value="7"},
                                            new SelectListItem() {Text = "August", Value="8"},
                                            new SelectListItem() {Text = "September", Value="9"},
                                            new SelectListItem() {Text = "October ", Value="10"},
                                            new SelectListItem() {Text = "November", Value="11"},
                                            new SelectListItem() {Text = "December", Value="12"},
                                        }, "Select Month", new { @class = "form-control" })
                                    <span asp-validation-for="Month" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="PaymentDate"></label>
                                    <input asp-for="PaymentDate" class="form-control" type="date" placeholder="Enter Payment Date">
                                    <span asp-validation-for="PaymentDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Description"></label>
                                    <textarea class="form-control" asp-for="Description" rows="2" placeholder="Enter Description"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-success"> Save Changes </button>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End PAge Content -->


@section scripts {
    <script type="text/javascript">
        //$(document).ready(function () {


        //});

        //function PreviewImage() {
        //    var oFReader = new FileReader();
        //    oFReader.readAsDataURL(document.getElementById("FileUpload").files[0]);

        //    oFReader.onload = function (oFREvent) {
        //        document.getElementById("UploadFile").src = oFREvent.target.result;
        //    };
        //};
    </script>
}
